## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## VS / Rider
.vs/
.idea/
*.rsuser
launchSettings.json

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml

## SQLite local databases
*.db
*.db-shm
*.db-wal

## Secrets
appsettings.*.json
!appsettings.json
